@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Roboto:wght@400;700&family=Rubik&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-family: 'Indie Flower',cursive;
    background-image: url(images/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFF5E0;
}

.header-right a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-right a:hover{
    color: #D64770;
    text-decoration: underline;
}

.header-left h1 {
    cursor: pointer;
}

.header-left,.header-right{
    display: flex;
    gap: 1.2em;
}

.header-left img {
    height: 3rem;
    width: 3rem;
}

.header-right img {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.main h2 {
    font-size: 5rem;
    color: #D64770;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    animation: intro 3s forwards;
    opacity: 0;
}

.main p {
    color: #FFF5E0;
    font-size: 1.5rem;
    animation: intro 8s forwards;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    opacity: 0;
}

.main a {
    text-decoration: none;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: #FFF5E0;
    font-size: 2rem;
    position: relative;
    animation: intro 8s forwards;
    opacity: 0;
}

.main a:hover {
    animation:  ease-in 0.5s normal delay iteration-count direction fill-mode;
    text-decoration: underline;
    color: #D64770;
}


@keyframes intro {
    100% {bottom: 0};
    from {opacity: 0} to {opacity: 1};
}


.footer {
    display: flex;
    justify-content: space-between;
    color: #FFF5E0;
    padding-bottom: 5px;
}

.footer-left a {
    padding-left: 10px;
    text-decoration: none;
    color: #FFF5E0;
    font-size: 1.1rem;
}

.footer-right {
    display: flex;
    gap: 1.3em;
    padding-right: 15px;
}

.footer-right a {
    text-decoration: none;
    color: #FFF5E0;
}

.footer a:hover {
    color: #D64770;
}
